<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--For Regression-->
<!--<suite name="Regression" verbose="1">-->

<!--    For Parallel Testing-->
    <suite name="Regression" parallel="tests" thread-count="2">

    <!-- Test for running on Chrome -->
    <test name="ChromeTest">
        <parameter name="Browser" value="Chrome"></parameter>
        <groups>
            <run>
                <include name="smoke"></include>
                <exclude name="regression"></exclude>
            </run>
        </groups>
        <classes>
            <class name="MultiBrowser"/>
        </classes>
    </test>

    <!-- Test for running on Edge -->
    <test name="EdgeTest">
        <parameter name="Browser" value="Edge"></parameter>
        <groups>
            <run>
                <include name="regression"></include>
            </run>
        </groups>
        <classes>
            <class name="MultiBrowser"/>
        </classes>
    </test>
</suite>
